body {
    background-color: rgb(36,36,36);
    padding-top: 50px;
}

.main-content {
    display: flex;
    gap: 50px;
}

/* Left Container Styling */
.filter-container{
    background-color: white;
    height: 260px;
    width: 300px;
    border-radius: 10px;
    margin-left: 5px;
}

.filter-title {
    font-weight: bolder;
    padding: 20px;
    font-size: 20px;
}

.sort-by {
    padding-left: 25px;
    padding-bottom: 15px;
}

.sort-by-title {
    font-weight: bolder;
    font-size: 16px;
}

input[type="radio"] {
    float: left;
    margin-right: 10px;
}

.radio-options {
    font-size: 14px;
    padding-top: 8px;
    font-weight: lighter;
}

.time-frame {
    padding-left: 25px;
}

.time-frame-title {
    font-weight: bolder;
    font-size: 16px;
}

/* Right Container Styling */
.news-container {
    display: flex;
    flex-direction: column;
    width: 73%;
    padding-top: 10px;
    gap: 20px;
}

.card {
    background-color: grey;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    padding-top: 15px;
}

.card-top-content {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
    width: 93.9%;
}

.card-date {
    font-weight: lighter;
    font-size: 12px;
    color: #343434;
    padding-right: 5px;
}

.card-bottom-content {
    display: flex;
}

.card-image img {
    display: block;
    width: 120px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}

.card-text {
    padding-left: 10px;
    padding-top: 10px;
    color: #1B1212;
}

/* Allows for screen to be adjusted when less than 900 pixels */
@media screen and (max-width: 900px) {
    .main-content {
      display: block;
    }

    .filter-container,
    .news-container {
        margin: auto;
    }

    .filter-container{
        margin-bottom: 70px;
    }
  }